NEBIUS_API_KEY=v1.CmQKHHN0YXRpY2tleS1lMDBrYWRwNXhlY3F3NGJlYXcSIXNlcnZpY2VhY2NvdW50LWUwMHp0a3BrZzVkemQ2dDUyNTIMCOvTltYGEOD5-f0COgwI69auoQcQwOSM1gFAAloDZTAw.AAAAAAAAAAFPqxmDJTTdPmEOP7-LRkUQOUHZXl25q2xQCIgXxDHsvetMWgwNvumkiokbz5TVIA_cAb64spB_MhsgTCImR4YO
NEBIUS_BASE_URL=https://api.tokenfactory.nebius.com/v1/
MODEL_ID=nvidia/NVIDIA-Nemotron-3-Nano-30B-A3B